<a href="{{ cpath[0]|safe }}/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>About</a>
<a href="{{ cpath[1]|safe }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>Data Viewer</a>
<a href="{{ cpath[2]|safe }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Data Comment</a>
<a href="{{ cpath[3]|safe }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>Graphs</a>
<a href="{{ cpath[4]|safe }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>Files</a>
<a href="{{ cpath[5]|safe }}" class="w3-bar-item w3-button w3-padding" target="_blank"><i class="fa fa-bullseye fa-fw"></i>Maps</a>
